<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Centering</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .form-container {
            text-align: center;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="form-container">
        <form action="/search" method="POST" style="margin-top: 10px;">
            <h1>Search Anime</h1>
            ID: <input type="text" name="id" /><br>          
            <input type="submit" value="Search" style="margin-top: 10px;"/>
        </form>
        <form action="/all" method="POST" style="margin-top: 10px;">
            <input type="submit" value="View All Animes" />
        </form>
            <h2>Or add a new anime</h2>
        <form action="/add" method="POST" style="margin-top: 10px;">
            <input type="submit" value="Add Anime" />
        </form>
            <h2>You can also delete an anime by submitting its ID bellow</h2>
        <form action="/delete" method="POST" style="margin-top: 10px;">
            ID: <input type="text" name="anime_id" /><br>
            <input type="submit" value="Delete Anime" style="margin-top: 10px;"/>
        </form>
    </div>
</body>
</html>
    